.spinner {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  padding: 1.1px;
  background: conic-gradient(#0000 10%,rgba(47, 130, 162, 0.86)) content-box;
  -webkit-mask: repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
       radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 calc(100% - 9px));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: spinner-d55elj 1s infinite steps(10);
}

@keyframes spinner-d55elj {
  to {
     transform: rotate(1turn);
  }
}






/***************************************/
.pricing{
 
  padding : 1.75rem 1.5rem;
 // background-color: rgba(47, 130, 162, 0.859);
  //color:#fff;
}
.border-top-design{
  border-top: 2px solid rgba(47, 130, 162, 0.859);
    border-radius: 12px;
    padding: 25px;
}
.price-btn{
  padding:10px;
  padding-right:3rem;
  padding-left: 1.5rem;
  border :1px solid rgba(47, 130, 162, 0.859);
  border-radius: 4px;
  color:#fff;
}
.list-styling{
  list-style: none;
  font-size: 18px;
}
.price{
  font-size: 22px;
}